Container-Root/eks/deployment/cluster-autoscaler/cluster-autoscaler.yaml
Container-Root/eks/deployment/aws-load-balancer-controller/aws-load-balancer-controller.yaml
Container-Root/eks/deployment/kube-ops-view/kube-ops-view
.DS_Store
Container-Root/eks/deployment/distributed-training/pytorch/habana/deepspeed-bert/efs-get-data.yaml
Container-Root/eks/deployment/distributed-training/pytorch/habana/deepspeed-bert/deepspeed-bert.yaml
Container-Root/eks/deployment/distributed-training/tensorflow/habana/mpijob-mnist.yaml
Container-Root/eks/deployment/csi/fsx/fsx-storage-class.yaml
Container-Root/eks/deployment/hpc/do-gromacs/to/kubernetes/app
Container-Root/eks/deployment/distributed-training/pytorch/pytorchjob/mnist/mnist-*.yaml
*.swp
Container-Root/eks/deployment/prometheus-grafana/prometheus-adapter/prometheus-adapter
Container-Root/eks/deployment/aws-load-balancer-controller/iam_policy.json
Container-Root/eks/deployment/distributed-training/pytorch/torchx/lightning/imagenet
Container-Root/eks/deployment/distributed-training/pytorch/mpijob/*.yaml
